{{- range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
{{- end }}
{{- range .AllTranslations }}
  {{- if eq .Lang "fa" }}
    <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
  {{- end }}
{{- end }}
{{- $path := .RelPermalink -}}
{{- if or (in $path "jobs-to-be-done") (in $path "design-sprint") (in $path "assessing-product-opportunities") -}}
  <script src="{{ "js/framework-tools.js" | relURL }}" defer></script>
{{- end -}}
