<!DOCTYPE html>
<html lang="{{ site.Language.Lang | default "fa" }}" dir="{{ .Page.Language.Direction | default site.Language.Direction | default "rtl" }}">
  <head>
    <title>{{ with .Page }}{{ .Title }}{{ else }}{{ .Permalink }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="{{ if eq site.Language.Lang "en" }}Redirecting to{{ else }}در حال انتقال به{{ end }} {{ with .Page }}{{ .Title }}{{ else }}{{ .Permalink }}{{ end }}..."/>
    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="0; url={{ .Permalink }}"/>
  </head>
  <body>
    <p>{{ if eq site.Language.Lang "en" }}Redirecting to{{ else }}در حال انتقال به{{ end }} <a href="{{ .Permalink }}">{{ with .Page }}{{ .Title }}{{ else }}{{ .Permalink }}{{ end }}</a>...</p>
  </body>
</html>
